AuthUserFile /home/www/ambulancesdhm.be/admin/.htpasswd

AuthGroupFile /dev/null
AuthName "Acces Restreint"
AuthType Basic
<Limit GET POST>
require user sullymaz admin
</Limit>

DirectoryIndex page.php

