    /*
    Flaticon icon font: Flaticon
    Creation date: 30/01/2018 16:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-champagne-1:before { content: "\f100"; }
.flaticon-champagne-and-two-glasses:before { content: "\f101"; }
.flaticon-champagne:before { content: "\f102"; }
.flaticon-toast:before { content: "\f103"; }
.flaticon-report:before { content: "\f104"; }
.flaticon-group:before { content: "\f105"; }
.flaticon-advertising:before { content: "\f106"; }
.flaticon-laptop:before { content: "\f107"; }
.flaticon-billboard:before { content: "\f108"; }
.flaticon-interview:before { content: "\f109"; }
.flaticon-technology-2:before { content: "\f10a"; }
.flaticon-mail:before { content: "\f10b"; }
.flaticon-video-camera:before { content: "\f10c"; }
.flaticon-play-button:before { content: "\f10d"; }
.flaticon-calendar-1:before { content: "\f10e"; }
.flaticon-calendar:before { content: "\f10f"; }
.flaticon-smartphone:before { content: "\f110"; }
.flaticon-search-1:before { content: "\f111"; }
.flaticon-furniture-1:before { content: "\f112"; }
.flaticon-travel:before { content: "\f113"; }
.flaticon-twitter-logo-silhouette:before { content: "\f114"; }
.flaticon-construction-15:before { content: "\f115"; }
.flaticon-transport:before { content: "\f116"; }
.flaticon-restroom:before { content: "\f117"; }
.flaticon-search:before { content: "\f118"; }
.flaticon-toilet-1:before { content: "\f119"; }
.flaticon-construction-14:before { content: "\f11a"; }
.flaticon-construction-13:before { content: "\f11b"; }
.flaticon-drawing:before { content: "\f11c"; }
.flaticon-construction-12:before { content: "\f11d"; }
.flaticon-bathtub:before { content: "\f11e"; }
.flaticon-love-1:before { content: "\f11f"; }
.flaticon-smartphone-call:before { content: "\f120"; }
.flaticon-building-1:before { content: "\f121"; }
.flaticon-arrow-point-to-right:before { content: "\f122"; }
.flaticon-linkedin-logo:before { content: "\f123"; }
.flaticon-logistics-call-center-woman:before { content: "\f124"; }
.flaticon-facebook-logo:before { content: "\f125"; }
.flaticon-home-7:before { content: "\f126"; }
.flaticon-house-search:before { content: "\f127"; }
.flaticon-house-plan-scale:before { content: "\f128"; }
.flaticon-home-6:before { content: "\f129"; }
.flaticon-monitor:before { content: "\f12a"; }
.flaticon-love:before { content: "\f12b"; }
.flaticon-home-5:before { content: "\f12c"; }
.flaticon-google-plus:before { content: "\f12d"; }
.flaticon-buildings-1:before { content: "\f12e"; }
.flaticon-prize:before { content: "\f12f"; }
.flaticon-right-arrow:before { content: "\f130"; }
.flaticon-home-4:before { content: "\f131"; }
.flaticon-home-3:before { content: "\f132"; }
.flaticon-shopping-cart:before { content: "\f133"; }
.flaticon-phone-call:before { content: "\f134"; }
.flaticon-technology-1:before { content: "\f135"; }
.flaticon-construction-11:before { content: "\f136"; }
.flaticon-construction-10:before { content: "\f137"; }
.flaticon-home-2:before { content: "\f138"; }
.flaticon-communication:before { content: "\f139"; }
.flaticon-construction-9:before { content: "\f13a"; }
.flaticon-construction-8:before { content: "\f13b"; }
.flaticon-bath:before { content: "\f13c"; }
.flaticon-toilet:before { content: "\f13d"; }
.flaticon-360-degrees:before { content: "\f13e"; }
.flaticon-real-estate:before { content: "\f13f"; }
.flaticon-parking:before { content: "\f140"; }
.flaticon-buildings:before { content: "\f141"; }
.flaticon-technology:before { content: "\f142"; }
.flaticon-construction-7:before { content: "\f143"; }
.flaticon-construction-6:before { content: "\f144"; }
.flaticon-construction-5:before { content: "\f145"; }
.flaticon-construction-4:before { content: "\f146"; }
.flaticon-car:before { content: "\f147"; }
.flaticon-nature-2:before { content: "\f148"; }
.flaticon-online-support:before { content: "\f149"; }
.flaticon-360-view:before { content: "\f14a"; }
.flaticon-call-center:before { content: "\f14b"; }
.flaticon-key:before { content: "\f14c"; }
.flaticon-construction-3:before { content: "\f14d"; }
.flaticon-construction-2:before { content: "\f14e"; }
.flaticon-tools:before { content: "\f14f"; }
.flaticon-gps:before { content: "\f150"; }
.flaticon-home-1:before { content: "\f151"; }
.flaticon-nature-1:before { content: "\f152"; }
.flaticon-rest:before { content: "\f153"; }
.flaticon-construction-1:before { content: "\f154"; }
.flaticon-building:before { content: "\f155"; }
.flaticon-construction:before { content: "\f156"; }
.flaticon-two:before { content: "\f157"; }
.flaticon-computer:before { content: "\f158"; }
.flaticon-bathroom:before { content: "\f159"; }
.flaticon-wall:before { content: "\f15a"; }
.flaticon-hotel:before { content: "\f15b"; }
.flaticon-improvement:before { content: "\f15c"; }
.flaticon-home:before { content: "\f15d"; }
.flaticon-plans:before { content: "\f15e"; }
.flaticon-furniture:before { content: "\f15f"; }
.flaticon-power:before { content: "\f160"; }
.flaticon-vehicle:before { content: "\f161"; }
.flaticon-nature:before { content: "\f162"; }
    
    $font-Flaticon-champagne-1: "\f100";
    $font-Flaticon-champagne-and-two-glasses: "\f101";
    $font-Flaticon-champagne: "\f102";
    $font-Flaticon-toast: "\f103";
    $font-Flaticon-report: "\f104";
    $font-Flaticon-group: "\f105";
    $font-Flaticon-advertising: "\f106";
    $font-Flaticon-laptop: "\f107";
    $font-Flaticon-billboard: "\f108";
    $font-Flaticon-interview: "\f109";
    $font-Flaticon-technology-2: "\f10a";
    $font-Flaticon-mail: "\f10b";
    $font-Flaticon-video-camera: "\f10c";
    $font-Flaticon-play-button: "\f10d";
    $font-Flaticon-calendar-1: "\f10e";
    $font-Flaticon-calendar: "\f10f";
    $font-Flaticon-smartphone: "\f110";
    $font-Flaticon-search-1: "\f111";
    $font-Flaticon-furniture-1: "\f112";
    $font-Flaticon-travel: "\f113";
    $font-Flaticon-twitter-logo-silhouette: "\f114";
    $font-Flaticon-construction-15: "\f115";
    $font-Flaticon-transport: "\f116";
    $font-Flaticon-restroom: "\f117";
    $font-Flaticon-search: "\f118";
    $font-Flaticon-toilet-1: "\f119";
    $font-Flaticon-construction-14: "\f11a";
    $font-Flaticon-construction-13: "\f11b";
    $font-Flaticon-drawing: "\f11c";
    $font-Flaticon-construction-12: "\f11d";
    $font-Flaticon-bathtub: "\f11e";
    $font-Flaticon-love-1: "\f11f";
    $font-Flaticon-smartphone-call: "\f120";
    $font-Flaticon-building-1: "\f121";
    $font-Flaticon-arrow-point-to-right: "\f122";
    $font-Flaticon-linkedin-logo: "\f123";
    $font-Flaticon-logistics-call-center-woman: "\f124";
    $font-Flaticon-facebook-logo: "\f125";
    $font-Flaticon-home-7: "\f126";
    $font-Flaticon-house-search: "\f127";
    $font-Flaticon-house-plan-scale: "\f128";
    $font-Flaticon-home-6: "\f129";
    $font-Flaticon-monitor: "\f12a";
    $font-Flaticon-love: "\f12b";
    $font-Flaticon-home-5: "\f12c";
    $font-Flaticon-google-plus: "\f12d";
    $font-Flaticon-buildings-1: "\f12e";
    $font-Flaticon-prize: "\f12f";
    $font-Flaticon-right-arrow: "\f130";
    $font-Flaticon-home-4: "\f131";
    $font-Flaticon-home-3: "\f132";
    $font-Flaticon-shopping-cart: "\f133";
    $font-Flaticon-phone-call: "\f134";
    $font-Flaticon-technology-1: "\f135";
    $font-Flaticon-construction-11: "\f136";
    $font-Flaticon-construction-10: "\f137";
    $font-Flaticon-home-2: "\f138";
    $font-Flaticon-communication: "\f139";
    $font-Flaticon-construction-9: "\f13a";
    $font-Flaticon-construction-8: "\f13b";
    $font-Flaticon-bath: "\f13c";
    $font-Flaticon-toilet: "\f13d";
    $font-Flaticon-360-degrees: "\f13e";
    $font-Flaticon-real-estate: "\f13f";
    $font-Flaticon-parking: "\f140";
    $font-Flaticon-buildings: "\f141";
    $font-Flaticon-technology: "\f142";
    $font-Flaticon-construction-7: "\f143";
    $font-Flaticon-construction-6: "\f144";
    $font-Flaticon-construction-5: "\f145";
    $font-Flaticon-construction-4: "\f146";
    $font-Flaticon-car: "\f147";
    $font-Flaticon-nature-2: "\f148";
    $font-Flaticon-online-support: "\f149";
    $font-Flaticon-360-view: "\f14a";
    $font-Flaticon-call-center: "\f14b";
    $font-Flaticon-key: "\f14c";
    $font-Flaticon-construction-3: "\f14d";
    $font-Flaticon-construction-2: "\f14e";
    $font-Flaticon-tools: "\f14f";
    $font-Flaticon-gps: "\f150";
    $font-Flaticon-home-1: "\f151";
    $font-Flaticon-nature-1: "\f152";
    $font-Flaticon-rest: "\f153";
    $font-Flaticon-construction-1: "\f154";
    $font-Flaticon-building: "\f155";
    $font-Flaticon-construction: "\f156";
    $font-Flaticon-two: "\f157";
    $font-Flaticon-computer: "\f158";
    $font-Flaticon-bathroom: "\f159";
    $font-Flaticon-wall: "\f15a";
    $font-Flaticon-hotel: "\f15b";
    $font-Flaticon-improvement: "\f15c";
    $font-Flaticon-home: "\f15d";
    $font-Flaticon-plans: "\f15e";
    $font-Flaticon-furniture: "\f15f";
    $font-Flaticon-power: "\f160";
    $font-Flaticon-vehicle: "\f161";
    $font-Flaticon-nature: "\f162";