	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/01/2018 16:58
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-champagne-1:before { content: "\f100"; }
.flaticon-champagne-and-two-glasses:before { content: "\f101"; }
.flaticon-champagne:before { content: "\f102"; }
.flaticon-toast:before { content: "\f103"; }
.flaticon-report:before { content: "\f104"; }
.flaticon-group:before { content: "\f105"; }
.flaticon-advertising:before { content: "\f106"; }
.flaticon-laptop:before { content: "\f107"; }
.flaticon-billboard:before { content: "\f108"; }
.flaticon-interview:before { content: "\f109"; }
.flaticon-technology-2:before { content: "\f10a"; }
.flaticon-mail:before { content: "\f10b"; }
.flaticon-video-camera:before { content: "\f10c"; }
.flaticon-play-button:before { content: "\f10d"; }
.flaticon-calendar-1:before { content: "\f10e"; }
.flaticon-calendar:before { content: "\f10f"; }
.flaticon-smartphone:before { content: "\f110"; }
.flaticon-search-1:before { content: "\f111"; }
.flaticon-furniture-1:before { content: "\f112"; }
.flaticon-travel:before { content: "\f113"; }
.flaticon-twitter-logo-silhouette:before { content: "\f114"; }
.flaticon-construction-15:before { content: "\f115"; }
.flaticon-transport:before { content: "\f116"; }
.flaticon-restroom:before { content: "\f117"; }
.flaticon-search:before { content: "\f118"; }
.flaticon-toilet-1:before { content: "\f119"; }
.flaticon-construction-14:before { content: "\f11a"; }
.flaticon-construction-13:before { content: "\f11b"; }
.flaticon-drawing:before { content: "\f11c"; }
.flaticon-construction-12:before { content: "\f11d"; }
.flaticon-bathtub:before { content: "\f11e"; }
.flaticon-love-1:before { content: "\f11f"; }
.flaticon-smartphone-call:before { content: "\f120"; }
.flaticon-building-1:before { content: "\f121"; }
.flaticon-arrow-point-to-right:before { content: "\f122"; }
.flaticon-linkedin-logo:before { content: "\f123"; }
.flaticon-logistics-call-center-woman:before { content: "\f124"; }
.flaticon-facebook-logo:before { content: "\f125"; }
.flaticon-home-7:before { content: "\f126"; }
.flaticon-house-search:before { content: "\f127"; }
.flaticon-house-plan-scale:before { content: "\f128"; }
.flaticon-home-6:before { content: "\f129"; }
.flaticon-monitor:before { content: "\f12a"; }
.flaticon-love:before { content: "\f12b"; }
.flaticon-home-5:before { content: "\f12c"; }
.flaticon-google-plus:before { content: "\f12d"; }
.flaticon-buildings-1:before { content: "\f12e"; }
.flaticon-prize:before { content: "\f12f"; }
.flaticon-right-arrow:before { content: "\f130"; }
.flaticon-home-4:before { content: "\f131"; }
.flaticon-home-3:before { content: "\f132"; }
.flaticon-shopping-cart:before { content: "\f133"; }
.flaticon-phone-call:before { content: "\f134"; }
.flaticon-technology-1:before { content: "\f135"; }
.flaticon-construction-11:before { content: "\f136"; }
.flaticon-construction-10:before { content: "\f137"; }
.flaticon-home-2:before { content: "\f138"; }
.flaticon-communication:before { content: "\f139"; }
.flaticon-construction-9:before { content: "\f13a"; }
.flaticon-construction-8:before { content: "\f13b"; }
.flaticon-bath:before { content: "\f13c"; }
.flaticon-toilet:before { content: "\f13d"; }
.flaticon-360-degrees:before { content: "\f13e"; }
.flaticon-real-estate:before { content: "\f13f"; }
.flaticon-parking:before { content: "\f140"; }
.flaticon-buildings:before { content: "\f141"; }
.flaticon-technology:before { content: "\f142"; }
.flaticon-construction-7:before { content: "\f143"; }
.flaticon-construction-6:before { content: "\f144"; }
.flaticon-construction-5:before { content: "\f145"; }
.flaticon-construction-4:before { content: "\f146"; }
.flaticon-car:before { content: "\f147"; }
.flaticon-nature-2:before { content: "\f148"; }
.flaticon-online-support:before { content: "\f149"; }
.flaticon-360-view:before { content: "\f14a"; }
.flaticon-call-center:before { content: "\f14b"; }
.flaticon-key:before { content: "\f14c"; }
.flaticon-construction-3:before { content: "\f14d"; }
.flaticon-construction-2:before { content: "\f14e"; }
.flaticon-tools:before { content: "\f14f"; }
.flaticon-gps:before { content: "\f150"; }
.flaticon-home-1:before { content: "\f151"; }
.flaticon-nature-1:before { content: "\f152"; }
.flaticon-rest:before { content: "\f153"; }
.flaticon-construction-1:before { content: "\f154"; }
.flaticon-building:before { content: "\f155"; }
.flaticon-construction:before { content: "\f156"; }
.flaticon-two:before { content: "\f157"; }
.flaticon-computer:before { content: "\f158"; }
.flaticon-bathroom:before { content: "\f159"; }
.flaticon-wall:before { content: "\f15a"; }
.flaticon-hotel:before { content: "\f15b"; }
.flaticon-improvement:before { content: "\f15c"; }
.flaticon-home:before { content: "\f15d"; }
.flaticon-plans:before { content: "\f15e"; }
.flaticon-furniture:before { content: "\f15f"; }
.flaticon-power:before { content: "\f160"; }
.flaticon-vehicle:before { content: "\f161"; }
.flaticon-nature:before { content: "\f162"; }